.flex-container{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    align-items: baseline;
}
.flex-container img{
    margin: 40px;
    align-content:space-around;
    flex-wrap: wrap;
    box-shadow: 40px 40px 100px black ;
    border: 5px solid black;
}